// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;

$off-white: #E9E5D8;
$highlight-purpule: #8C3A91;
$soft-purpule: #694E9C;
$neutral-teal:  #41A3A2;
$deep-violet: #493657;
$high-pink: #E66780;
$beige: #BDB9BC;
$dark-green:#12242A;
$aqua:#4DC4D0;
$light-blue:#2C748E;


// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
